button {
    background-color: #6fb553;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}

button:hover {
    cursor: pointer;
    background-color: #62a24b;
}