.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 66vh;
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
}